:root {
    --power-blue: #1400FF;
    --background: #E3E3F6;
}

* {
    padding: 0; margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    background-color: var(--background);
}


.title {
    font-size: 76px;
    color: var(--power-blue);
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.main-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    width: 350px;
    padding: 45px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 20px 0px
}

/* Buttons */
.btn {
    padding: 20px;
    height: 65px;
    width: 300px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    font-size: 21px;
    transition: 0.3s;
}

.btn.blue {
    background-color: var(--power-blue);
    color: white;
}

.btn.black {
    background-color: black;
    color: white;
}

.btn:hover {
    width: 375px;
}

.btn.blue:hover {
    background-color: rgb(31, 36, 174);
    color: white;
}

.btn.black:hover {
    background-color: transparent;
    color: black;
    border: 3px solid black;
}