:root {
    --power-blue: #1400FF;
    --background: #E3E3F6;
}

* {
    padding: 0; margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    background-color: var(--background);
}


.title {
    font-size: 80px;
    color: var(--power-blue);
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.main-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    width: 350px;
    padding: 50px;
    border-radius: 20px;
}

/* Buttons */
.btn {
    padding: 20px;
    width: 300px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    font-size: 21px;
}

.btn.blue {
    background-color: var(--power-blue);
    color: white;
}